@import "base";

#app {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  /* padding: 2rem 0; */
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--secondary);
  transition: 0.4s;

  &:hover {
    color: var(--alpha);
  }
}

.d-flex {
  display: flex;
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
